# App environment
APP_ENV=development

# API
API_PORT=3000
API_BASE_URL=http://localhost:3000
JWT_SECRET=change-me
JWT_EXPIRES_IN=15m

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sercesync

# Client app URLs
WEB_APP_URL=http://localhost:8080
MOBILE_APP_SCHEME=sercesync
